#*#
*/RCS/*
*.bak
*.pyc
*.pyo
*~
Icon\r
.*
app.yaml
app.yml
index.yaml
index.yml
lib/*
static/dev/*
static/ext/.*.coffee
static/ext/.*.css
static/ext/.*.js
static/ext/.*.less
static/ext/.*.json
static/src/.*
