# extends 'base.html'
# import 'macro/forms.html' as forms
# import 'macro/utils.html' as utils

# block content
  <div class="page-header">
    <h1>{{title}}</h1>
  </div>

  <div class="row">
    <div class="col-md-4 col-md-push-8">
      <legend>Information</legend>
      <ul>
        <li>For most of the settings you will have to
        {{(utils.blank_link(instances_url, 'restart') if instances_url else 'restart')}}
        the {{utils.blank_link('https://developers.google.com/appengine/docs/adminconsole/instances', 'instances')}}</li>
        <li>Site URL for {{utils.blank_link('https://developers.facebook.com/apps' 'Facebook application')}}: <em>{{request.host_url[:-1]}}</em></li>
        <li>Callback URL for {{utils.blank_link('https://dev.twitter.com/apps', 'Twitter application')}}: <em>{{'%s%s' % (request.host_url[:-1], url_for('twitter_authorized'))}}</em></li>
      </ul>
    </div>
    <div class="col-md-8 col-md-pull-4">
      <form class="row" method="POST" action="." novalidate>
        <fieldset class="col-sm-6">
          <legend>General</legend>
          {{form.csrf_token}}

          {{forms.text_field(form.brand_name, autofocus=True)}}
          {{forms.email_field(form.feedback_email)}}
          {{forms.text_field(form.analytics_id)}}
          {{forms.text_field(form.flask_secret_key)}}
          {{forms.textarea_field(form.announcement_html)}}
          {{forms.select_field(form.announcement_type)}}
        </fieldset>
        <fieldset class="col-sm-6">
          <legend>Third Party OAuth</legend>
          {{forms.text_field(form.facebook_app_id)}}
          {{forms.text_field(form.facebook_app_secret)}}
          {{forms.text_field(form.twitter_consumer_key)}}
          {{forms.text_field(form.twitter_consumer_secret)}}
        </fieldset>
        <fieldset class="col-sm-12">
          <button type="submit" class="btn btn-primary btn-block btn-loading" data-loading-text="Updating Config..">
            Update Config
          </button>
        </fieldset>
      </form>
    </div>
  </div>
# endblock
