<nav class="navbar navbar-light bg-faded">
  <div class="container">
    <a class="navbar-brand" href="{{url_for('welcome')}}">{{config.CONFIG_DB.brand_name}}</a>
    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#main-header">
      &#9776;
    </button>
    <div class="collapse navbar-toggleable-xs" id="main-header">
      <ul class="nav navbar-nav">
        # include 'bit/contact_menu.html'
        # include 'bit/user_menu.html'
      </ul>
    </div>
  </div>
</nav>
