# if current_user.id > 0
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
      <span class="fa fa-fw fa-user"></span>
      {{current_user.name}}
    </a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="{{url_for('profile')}}"><span class="fa fa-fw fa-user"></span> Profile</a>
      # if current_user.admin
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{{url_for('admin')}}"><span class="fa fa-fw fa-cog"></span> Admin</a>
        <div class="dropdown-divider"></div>
      # endif
      <a class="dropdown-item" href="{{url_for('signout')}}"><span class="fa fa-fw fa-sign-out"></span> Sign out</a>
    </div>
  </li>
# else
  <li class="nav-item {{'active' if html_class.find('auth') != -1}}">
    <a class="nav-link" href="{{url_for('signin')}}"><span class="fa fa-fw fa-sign-in"></span> Sign in</a>
  </li>
# endif
