<p>
  <button type="button" class="btn btn-primary">Primary</button>
  <button type="button" class="btn btn-secondary">Secondary</button>
  <button type="button" class="btn btn-success">Success</button>
  <button type="button" class="btn btn-warning">Warning</button>
  <button type="button" class="btn btn-danger">Danger</button>
  <button type="button" class="btn btn-link">Link</button>
</p>
<p>
  <button type="button" class="btn btn-primary-outline">Primary</button>
  <button type="button" class="btn btn-secondary-outline">Secondary</button>
  <button type="button" class="btn btn-success-outline">Success</button>
  <button type="button" class="btn btn-warning-outline">Warning</button>
  <button type="button" class="btn btn-danger-outline">Danger</button>
</p>
