<table class="table table-bordered table-hover table-align-middle">
  <thead>
    <tr>
      <th>Weight</th>
      <th class="col-xs-6">Normal</th>
      <th class="col-xs-6">Italic</th>
    </tr>
  </thead>
  <tbody>
    # for w in range(1, 10):
      # set weight = w * 100
      <tr style="font-weight: {{weight}};">
        <td>{{weight}}</td>
        <td>
          <p>{% include 'test/lorem.html' %}</p>
        </td>
        <td style="font-style: italic;">
          <p>{% include 'test/lorem.html' %}</p>
        </td>
      </tr>
    # endfor
  </tbody>
</table>
