body {
  > .container {
    padding-top: $line-height-computed / 2;
    padding-bottom: $line-height-computed * 2;
  }
}

h1,
h2 {
  margin-top: 2rem;
}

h3,
h4 {
  margin-top: 1rem;
}

.alert-announcement {
  display: none;
  &.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 0;
  }
  > .close {
    right: 0;
  }
}

.img-error {
  max-width: 100%;
  margin: auto;
  display: block;
}

.anchor {
  display: block;
  position: relative;
  visibility: hidden;
}

.recaptcha {
  min-height: 78px;
}
