@fa-font-path:            "/p/ext/font/font-awesome";
@icon-font-path:          "/p/ext/font/bootstrap/";

@footer-height:           (@line-height-computed * 5);

@nprogress-color:         @brand-primary;
@nprogress-spinner-top:   @navbar-height + @nprogress-spinner-right;


@gray-darker:            #440042;
@gray-dark:              #660e69;
@gray:                   #8a378c;
@gray-light:             #ad5db0;
@gray-lighter:           #e99cec;

@brand-primary:         #5b0069;
@brand-success:         #5cb85c;
@brand-info:            #5bc0de;
@brand-warning:         #f0ad4e;
@brand-danger:          #d9534f;

@text-muted:     #6d0061;
@well-bg:        #faa7ff;
@color-bg:       #fddbff;
@color:          #65009c;
@body-bg:        @color-bg;
@text-color:     @color;
