# import 'macro/forms.html' as forms

# if config.CONFIG_DB.verify_email
  <div class="form-group {{'has-error' if form.email.errors}}">
    {{form.email.label(class='control-label')}}
    {{forms.field_optional(form.email)}}
    <div class="input-group">
      {{form.email(class='form-control')}}
      # if request.method == 'GET' and user_db.email
        <div class="input-group-append">
          # if user_db.verified
            <span class="input-group-text">
              <span class="fa fa-check form-control-feedback text-success" title="This email is verified"></span>
            </span>
          # else
            <span class="input-group-text">
              <span class="fa fa-warning form-control-feedback text-warning" title="This email is not verified"></span>
            </span>
          # endif
        </div>
      # endif
    </div>

    {{forms.field_errors(form.email)}}
  </div>
# else
  {{forms.email_field(form.email)}}
# endif
