# extends 'base.html'
# import 'macro/forms.html' as forms

# block content
  <h1>{{title}}</h1>
  <p class="lead">Any questions or suggestions are welcome</p>

  <div class="row">
    <div class="col-md-6 col-xl-4">
      <form method="POST" action="." novalidate>
        {{form.csrf_token}}

        {{forms.textarea_field(form.message, rows=8, autofocus=True)}}
        {{forms.email_field(form.email)}}
        {{forms.recaptcha_field(form.recaptcha)}}

        <button type="submit" class="btn btn-primary btn-block">
          Send Feedback
        </button>
      </form>
    </div>
  </div>
# endblock
